body{
    background-color: #1B1D20;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #FEFEFE;
}

h1{
    font-size: 4rem;
}

h2{
    font-size: 2rem;
}